/** Responsiveness **/

/*! xl, extra-large: 1536px*/ /*! ....... */
@media only screen and (max-width: 5000px) {
  .horizontal-safe-margin {
    margin-right: 100px;
    margin-left: 100px;
  }
  .horizontal-safe-padding {
    padding-right: 100px;
    padding-left: 100px;
  }
  .vertical-safe-margin {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .vertical-safe-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-safe-padding-top {
    padding-top: 60px;
  }
  .section-safe-padding-bottom {
    padding-bottom: 60px;
  }
  .section-safe-padding-left {
    padding-left: 100px;
  }
  .section-safe-padding-right {
    padding-right: 100px;
  }
  .section-safe-margin-top {
    margin-top: 60px;
  }
  .section-safe-margin-bottom {
    margin-bottom: 60px;
  }
  .section-safe-margin-right {
    margin-right: 100px;
  }
  .section-safe-margin-left {
    margin-left: 100px;
  }
}
/*! lg, large: 1200px */
@media only screen and (max-width: 1200px) {
  .horizontal-safe-margin {
    margin-right: 75px;
    margin-left: 75px;
  }
  .horizontal-safe-padding {
    padding-right: 75px;
    padding-left: 75px;
  }
  .vertical-safe-margin {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .vertical-safe-padding {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .section-safe-padding-top {
    padding-top: 45px;
  }
  .section-safe-padding-bottom {
    padding-bottom: 45px;
  }
  .section-safe-padding-left {
    padding-left: 75px;
  }
  .section-safe-padding-right {
    padding-right: 75px;
  }
  .section-safe-margin-top {
    margin-top: 45px;
  }
  .section-safe-margin-bottom {
    margin-bottom: 45px;
  }
  .section-safe-margin-right {
    margin-right: 75px;
  }
  .section-safe-margin-left {
    margin-left: 75px;
  }
}
/*! md, medium: 900px */
@media only screen and (max-width: 900px) {
  .horizontal-safe-margin {
    margin-right: 50px;
    margin-left: 50px;
  }
  .horizontal-safe-padding {
    padding-right: 50px;
    padding-left: 50px;
  }
  .vertical-safe-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .vertical-safe-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-safe-padding-top {
    padding-top: 30px;
  }
  .section-safe-padding-bottom {
    padding-bottom: 30px;
  }
  .section-safe-padding-left {
    padding-left: 50px;
  }
  .section-safe-padding-right {
    padding-right: 50px;
  }
  .section-safe-margin-top {
    margin-top: 30px;
  }
  .section-safe-margin-bottom {
    margin-bottom: 30px;
  }
  .section-safe-margin-right {
    margin-right: 50px;
  }
  .section-safe-margin-left {
    margin-left: 50px;
  }
}
/*! sm, small: 600px */ /* xs, extra-small: 0px*/
@media only screen and (max-width: 600px) {
  .horizontal-safe-margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .horizontal-safe-padding {
    padding-right: 25px;
    padding-left: 25px;
  }
  .vertical-safe-margin {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .vertical-safe-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section-safe-padding-top {
    padding-top: 15px;
  }
  .section-safe-padding-bottom {
    padding-bottom: 15px;
  }
  .section-safe-padding-left {
    padding-left: 25px;
  }
  .section-safe-padding-right {
    padding-right: 25px;
  }
  .section-safe-margin-top {
    margin-top: 15px;
  }
  .section-safe-margin-bottom {
    margin-bottom: 15px;
  }
  .section-safe-margin-right {
    margin-right: 25px;
  }
  .section-safe-margin-left {
    margin-left: 25px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: GE_SS_Light !important; */
  font-family: Almarai !important;
}

html,
body {
  /* max-width: 100vw; */
  /* overflow: hidden; */
}

.carousel-indicators button {
  height: 6px !important;
}
.carousel-indicators .active {
  background-color: #fcb72e;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #2d317f;
  border: 1px solid #2d317f;
}

.MuiSvgIcon-root {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* clip-path: polygon(50% 0%, 50% 0%, 100% 50%, 100% 50%, 50% 100%, 0% 50%);
   */
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  clip-path: circle(50% at 50% 50%);
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-4ff9q7 {
  color: #afb0b8 !important;
  font-size: 25px;
  font-size: 42px;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-4ff9q7 {
  color: #f18222 !important;
}
.MuiStepConnector-root.MuiStepConnector-vertical.Mui-active.css-1pe7n21-MuiStepConnector-root
  .MuiStepConnector-line.MuiStepConnector-lineVertical.css-8t49rw-MuiStepConnector-line {
  border-color: #f18222;
}
.css-1pe7n21-MuiStepConnector-root,
.css-52tf1x.MuiStepConnector-root {
  margin-left: 20px !important;
}

/* =========loading========= */

.box-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  margin: auto;
}

.loader {
  --loader-size: 40px;
  --loader-border-size: 3px;
  --loader-border-color: #f18222;
  width: var(--loader-size);
  height: var(--loader-size);
  border: var(--loader-border-size) solid var(--loader-border-color);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: rotateX 1s infinite linear;
}

.loader::before {
  content: "";
  border: var(--loader-border-size) solid var(--loader-border-color);
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  animation: rotateX 0.5s infinite linear reverse;
}

@keyframes rotateX {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.stepper-box .css-rko9yk-MuiButtonBase-root-MuiStepButton-root,
.stepper-box .css-105xk4f {
  position: unset !important;
}
html {
  scroll-behavior: smooth;
}
